[submodule "js-tools"]
	path = js-tools
	url = https://github.com/saber71/js-tools.git
[submodule "injectify"]
	path = injectify
	url = https://github.com/saber71/injectify.git
[submodule "external-deps-plugin"]
	path = external-deps-plugin
	url = https://github.com/saber71/external-deps-plugin.git
[submodule "vue-class"]
	path = vue-class
	url = https://github.com/saber71/vue-class.git
[submodule "interviews"]
	path = interviews
	url = https://gitee.com/saber71/interviews.git
[submodule "query"]
	path = query
	url = https://github.com/saber71/query.git
[submodule "backend-storage"]
	path = backend-storage
	url = https://github.com/saber71/backend-storage.git
[submodule "collection"]
	path = collection
	url = https://github.com/saber71/collection.git
[submodule "http-test"]
	path = http-test
	url = https://github.com/saber71/http-test.git
[submodule "backend-bridge"]
	path = backend-bridge
	url = https://github.com/saber71/backend-bridge.git
[submodule "backend-auth"]
	path = backend-auth
	url = https://github.com/saber71/backend-auth.git
[submodule "backend-identity"]
	path = backend-identity
	url = https://github.com/saber71/backend-identity.git
[submodule "aero-tactician"]
	path = aero-tactician
	url = https://github.com/saber71/aero-tactician.git
